body,td,th {
font-size:12px;
color:#000;
line-height:22px;
}

table {
border:0;
border-collapse:collapse;
margin:0;
}

td {
padding:0;
}

p {
text-indent:2em;
font-size:14px;
font-family:Arial,Verdana,Helvetica,sans-serif,ו;
line-height:24px;
margin:0;
padding:0;
}

a:hover {
text-decoration:none;
color:#000;
}

a:active {
text-decoration:none;
color:#333;
}

h1 {
font-size:18px;
}

ul {
list-style-type:none;
list-style-position:outside;
border-width:0;
margin:0;
padding:0;
}

li {
color:#FFF;
list-style-type:none;
list-style-position:outside;
border-width:0;
margin:0;
padding:0;
}

body,div,img {
border-width:0;
margin:0;
padding:0;
}

a:link,a:visited {
color:#333;
text-decoration:none;
}

h2,h3,h4,h5,h6 {
font-size:12px;
}


#main {
background-color:#a9b5bd;
background-repeat:repeat-x;
}

.main_content {
	width:960px;
	margin:0 auto;
	background: #fff;
}

.blank15 {
clear:both;
font-size:1px;
height:15px;
width:100%;
}



.blank20 {
clear:both;
height:20px;
}


.channel img {
float:left;
padding-right:15px;
width:110px;
height:90px;
}

.web_content {
margin-bottom:0;
background-color:#fff;
font-size:13px;
color:#333;
height:800px;
}

.web_content .category_channel {
margin-bottom:30px;
}

.web_content .category_channel * {
font-size:14px;
color:#FFF;
}

.web_content .category_channel h1.category_channel_title {
font-size:14px;
border-bottom:3px solid #366;
}

.web_content .category_channel h1.category_channel_title a {
color:#fff;
background:#066;
height:100%;
margin:0 20px;
padding:10px 15px;
}

.web_content_title {
text-align:center;
font-size:14px;
font-weight:700;
height:28px;
line-height:56px;
color:#fff;
border-bottom:1px solid dashed #ccc;
margin:0 20px;
}

.content_title_desc {
font-size:12px;
font-weight:400;
padding-top:15px;
width:544px;
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color:#999;
padding-bottom:10px;
}

.web_content_main {
	line-height:2.4em;
	font-size:14px;
	color:#000000;
	padding:10px 20px 20px;
}
.web_content_main strong{
 color:#2c6288;
}

.foot{
 text-align:center;
}